%div#body
    .topnav
        = link_to 'Back', group_path(@group)
    %table#groupTable 
        %tr
            %th Name
            %th Amount
            %th
            %th
    - @settle.each do |owes_user, owed_users|
        - owed_users.each do |user, amount|
            = owes_user.name
            owes
            = user.name
            = number_to_currency(amount)
            