%div#body
    .topnav
        DinDiv
        = link_to 'Back', group_path(@group)
    %div#sectionInfo
        - @settle.each do |owes_user, owed_users|
            - owed_users.each do |user, amount|
                = owes_user.name
                = user.name
                = number_to_currency(amount)
            