%script{:async => "", :defer => "defer", :src => "https://apis.google.com/js/platform.js"}
%meta{:content => "784382473737-ff9vrd0ejnns70uapa7vc2g7jfk675k7.apps.googleusercontent.com", :name => "google-signin-client_id"}/
.g-signin2{"data-onsuccess" => "onSignIn"}




%h1 expense splitter app in progress...
