#pageTitle{
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 color: black;
 font-size: 35px;
 /*background-color: #a6a6a6  ;*/
}

#formLabels{
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 color: black;
 font-size: 16px;
}

#linkButtons{
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 color: white;
 background-color: #f2a35c;
 margin-top:10px;
 width:70%;
 padding: 3px 5px;
 text-decoration: none;
 text-transform: uppercase;
 text-align: center;
 box-shadow: 0 3px 0 #ed801e;
 margin: 0 auto;
}

#linkButtons:active {
  box-shadow: none;
  top: 5px;
}


#navButtons{
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 /*text-align: right;*/
 float: right;
 color: white;
 background-color: #9fbfdf;
 /*margin-top:10px;*/
 width:15%;
 display: inline;
 text-decoration: none;
 text-transform: uppercase;
 text-align: center;
 box-shadow: 0 3px 0 #6699cc;
}

#navButtons:active{
  box-shadow: none;
  top: 5px;
}

#sectionTitle{
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 color: black;
}

#sectionInfo{
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 color: black;
 font-size: 20px;
}

#groupTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#groupTable  td, #groupTable  th {
  border: 1px solid #ddd;
  padding: 8px;
}

#groupTable  tr:nth-child(even){background-color: #f2f2f2;}

#groupTable  tr:hover {background-color: #ddd;}

#groupTable  th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3d7ab8 ;
  color: white;
}

#transactionTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 75%;
}

#transactionTable  td, #transactionTable  th{
  border: 1px solid #ddd;
  padding: 8px;
  width: 16%;
}

#transactionTable  tr:nth-child(even){background-color: #f2f2f2;}

#transactionTable  tr:hover {background-color: #ddd;}

#transactionTable  th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3d7ab8;
  color: white;
  width: 16%;
}

#body{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
    height:100%;
    margin: 0 auto;
    background-color:#F0F0F0 ;
}

#hiddenForm{
    width: 50%;
    background-color: #ebecf0;
    display: none;
}

#showFormButton{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: black;
    font-size: 15px;
    background-color: #64cbaf;
    margin-top:10px;
    width:20%;
    padding: 5px 5px;
    /*position:relative;*/
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0 3px 0 #49aa8f;
    border: none;
}

#membersBox{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: black;
    font-size: 15px;
    float: right;
    background-color: #ebecf0;
    width: 25%;
}