#pageTitle{
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 color: black;
 font-size: 35px;
 
}

#formLabels{
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 color: black;
 font-size: 16px;
}

#linkButtons{
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 color: #4CAF50;
}

#navButtons{
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 color: #4CAF50;
 text-align: right;
}

#sectionTitle{
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 color: black;
}

#sectionInfo{
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 color: black;
 font-size: 20px;
}

#groupTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#groupTable  td, #groupTable  th {
  border: 1px solid #ddd;
  padding: 8px;
}

#groupTable  tr:nth-child(even){background-color: #f2f2f2;}

#groupTable  tr:hover {background-color: #ddd;}

#groupTable  th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}



#transactionTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#transactionTable  td{
  border: 1px solid #ddd;
  padding: 8px;
  width: 25%;
}

#transactionTable  tr:nth-child(even){background-color: #f2f2f2;}

#transactionTable  tr:hover {background-color: #ddd;}

#transactionTable  th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  width: 25%;
}

#body{
    /*margin-top:0;*/
    /*margin-right:auto;*/
    /*margin-bottom:0;*/
    /*margin-left:auto;*/
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 60%;
    height:60%;
    margin: 0 auto;
    background-color:#F0F0F0 ;
}