// https://icons8.com/icons/set/money-transfer

.logintopnav {
  overflow: hidden;
  background-color: white;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color:#3d7ab8;
  font-size: 30px;
  padding-left: 5px;
  margin: auto;
  // display: inline-block;
  vertical-align: top;
}

.logintopnav a {
  color: white;
  text-decoration: none;
  background-color: #3d7ab8;
  padding: 8px;
  border-radius: 5px;
  float: right;
  font-size: 20px;
}

img.images{
  width: 40px;
  height: 40px;
  // padding-top: 10px;
  // display: inline-block;
  vertical-align: top;
}


.topnav a {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #9fbfdf;
  color: black;
}

a.signInButton{
  display: inline-block;
  background: #3d7ab8;
  color: white;
  width: 190px;
  border-radius: 3px;
  border: thin solid #71a0d0;
  box-shadow: 0px 3px 0px #71a0d0;
  padding: 3px;
  // white-space: nowrap;
  text-decoration: none;
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

a.signInButton :active{
  box-shadow: none;
  top: 5px;
}

#body{
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 75%;
  height:100%;
  /*margin: 0 auto;*/
  background-color:#ffffff ;
  display: inline-block;
  /*position: absolute;*/
  margin-left: 19%;
  transform: translateX(-10%);
  // display:  inherit;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#login{
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 45%;
  height:100%;
  background-color:#ffffff ;
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  padding-top: 30px;
}

#pageTitle{
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 color: black;
 font-size: 35px;
//  background-color: #3d7ab8;
 width:100%;
 padding-top: 10px;
}

#formLabels{
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 color: black;
 font-size: 16px;
 padding-left: 10px;
//  width:40px;
}




#navButtons{
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 float: right;
 color: white;
 background-color: #9fbfdf;
 width:15%;
 text-decoration: none;
 text-transform: uppercase;
 text-align: center;
 box-shadow: 0 3px 0 #6699cc;
 border-radius: 3px;
}

#navButtons:active{
  box-shadow: none;
  top: 5px;
}

#sectionTitle{
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 color: black;
 font-size: 25px;
 padding-top: 5px;
}

#sectionInfo{
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 color: black;
 font-size: 20px;
}

#groupTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#groupTable td, #groupTable th {
  border: 1px solid #ddd;
  padding: 8px;
  // text-decoration: none;
  width:15%;
}

#groupTable  tr:nth-child(even){background-color: #f2f2f2;}

#groupTable  tr:hover {background-color: #ddd;}

#groupTable  th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #bfc2cf ;
  color: black;
}

#transactionTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 75%;
  /*display: inline-table;*/
  /*float: left;*/
}

#transactionTable  td, #transactionTable th{
  border: 1px solid #ddd;
  padding: 8px;
  width: 16%;
}

#transactionTable  tr:nth-child(even){background-color: #f2f2f2;}

#transactionTable  tr:hover {background-color: #ebecf0;}

#transactionTable  th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #bfc2cf;
  color: black;
  width: 16%;
}


#hiddenTransactionForm{
  width: 50%;
  // background-color: #ebecf0;
  display: none;
  padding-top: 10px;
}


#showFormButton{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: black;
  font-size: 15px;
  background-color: #64cbaf;
  margin-top:10px;
  width:20%;
  padding: 5px 5px;
  /*position:relative;*/
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 3px 0 #49aa8f;
  border: none;
  border-radius: 3px;
  /*float: left;*/
}

#membersBox{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: black;
  background-color: #ebecf0;
  width: 23%;
  height: 50%;
  overflow: scroll;
  display: block;
  float: right;
}

#hiddenMemberForm{
  width: 23%;
  // background-color: #ebecf0;
  display: none;
  padding-top: 10px;
}

#showMemberFormButton{

  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: black;
  background-color: #64cbaf;
  margin-top:10px;
  width:100%;
  padding:3px;
  // text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 3px 0 #49aa8f;
  // margin: 0 auto;
  border-radius: 3px;

}

#membersHeader{
  background-color: #64cbaf;
  width: 100%;
  // font-weight: ;
  text-align: center;
  font-size: 20px;
  border-radius: 3px;
  // padding: 5px;
}

#member{
  color: black;
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  // width: 95%;
  padding-left: 5px;
  padding-right: 5px;
}

#member:hover{
  background-color: #ddd;
}

a{
  color: black;
  cursor: pointer;
}

a.deleteButton{
  float: right;
  // background-color: #ebecf0;
  border: none;
  color: black;
  // padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
}

a.deleteButton:hover{
  background-color: #ff6961;    
}

#leftDiv{
  float: left;
  display: inline-block;
}

#settleUp{
  text-align: center;
  padding-top: 10px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: black;
  font-size: 15px;
}

#settleUp:hover{
  background-color: #ebecf0;
}