%p
  %strong Name:
  = transaction.name
%p
  %strong Amount:
  = transaction.amount

= link_to 'Edit Transaction', edit_group_transaction_path(transaction.group, transaction)
= link_to 'Destroy Transaction', [transaction.group, transaction], method: :delete, data: { confirm: 'Are you sure?' }
