Name:
= link_to transaction.name, group_transaction_path(transaction.group, transaction)
Total:
= number_to_currency(transaction.amount) 
= link_to 'Edit', edit_group_transaction_path(transaction.group, transaction)
= link_to 'Delete', [transaction.group, transaction], method: :delete, data: { confirm: 'Are you sure?' }
%br