%p
  %strong Name:
  = transaction.name
  &nbsp;&nbsp;
  %strong Total:
  = transaction.amount

  = link_to 'Edit', edit_group_transaction_path(transaction.group, transaction)
  = link_to 'Delete', [transaction.group, transaction], method: :delete, data: { confirm: 'Are you sure?' }
