!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "profile email", :name => "google-signin-scope"}/
    %meta{:content => "784382473737-f7pcujgs04sg9iulqejenrlvm4336340.apps.googleusercontent.com", :name => "google-signin-client_id"}/
    %script{:async => "", :defer => "defer", :src => "https://apis.google.com/js/platform.js"}
  %body
    %h1 expense splitter app in progress...
    %h1 application.html.haml
    
